@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: $font-family;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  transition: all .3s linear;
}

::selection {
  background: $main-color;
  color: $text-color;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: $container-color;
}

::-webkit-scrollbar-thumb {
  background-color: $main-color;
  border-radius: 9em;
}

section {
  padding: 4rem 0 3rem;
}

body {
  color: $text-color;
  background: $body-color;
}

.container {
  max-width: 1060px;
  margin: auto;
  width: 100%;
}
